<section id="cv" class="projects bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Resume</h2>
        <p class="lead">
          I'm planning to add an interactive CV here, but it's not working yet.
          For now just download the PDF.
        </p>
        <a href="../pubs/cv.pdf" target="_blank" class="btn btn-light">
          <i class="fa fa-file-pdf-o fa-fw-2x"></i>
          Resume - RAI_Bethlehem
        </a>
      </div>
           </div>
         </div>
</section>
