<footer class="largefooter">
  <div id="contact" class="container">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 text-center footercard">
        <h4><strong>{{ site.owner }}</strong>
        </h4>
        <p>
          {% for address in site.address %}
          {{ address.line }}<br>
          {% endfor %}
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <p>Copyright &copy; {{ site.copyright }} - 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
