<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- Now draw text from markdown file with liquid tag: -->
    {% capture my-include %}{% include header.md %}{% endcapture %}
    {{ my-include | markdownify }}
    <hr class="small">
    <ul class="list-inline">
      <!-- Display links to github and twitter -->
      <li>
        <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
      </li>
      <li>
        <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x"></i></a>
      </li>
    </ul>
  </div>
</header>
