<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >Jan Freyberg</a>
    </li>
    <li>
      <a href="#research" onclick = $("#menu-close").click(); >Research</a>
    </li>
    <li>
      <a href="#blogprev" onclick = $("#menu-close").click(); >Blog</a>
    </li>
    <li>
      <a href="#projects" onclick = $("#menu-close").click(); >Projects</a>
    </li>
    <li>
      <a href="#cv" onclick = $("#menu-close").click(); >CV</a>
    </li>
    <li>
      <a href="#side-projects" onclick = $("#menu-close").click(); >Side Projects</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul>
</nav>
