<section id="publications" class="publications">
      <div class="text-vertical-center">
            <div class="row text-center">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Publications</h2>
        <p class="lead">
          Below is a list of publications
        </p>
        <a href="../pubs/Does empathy predict altruism in the wild.pdf" target="_blank" class="btn btn-light">
          <i class="fa fa-file-pdf-o fa-fw-2x"></i>
          Empathy in the wild
        </a>
        <a href="../pubs/1-s2.0-S0306453012003460-main.pdf" target="_blank" class="btn btn-light">
          <i class="fa fa-file-pdf-o fa-fw-2x"></i>
          Oxytocin fMRI review
        </a>
      </div>
                  </div>
            </div>
</section>
