<section id="publications" class="publications">
            <div class="row">
                        <h2 align="center"> Publications </h2>
                        <p class="lead">
                         <h4 align="center"> Below is a list of publications </h4>
                        </p>
                        <ul> 
                                    <li>       
                                                Bethlehem, R.A.I.*, Lombardo, M.V.*, Lai, M-C., Auyeung, B., Crockford, S.K., Deakin, J., Soubramanian, S., Sule, A., Kundu, P., Voon, V. & Baron-Cohen, S.; Intranasal oxytocin enhances intrinsic corticostriatal functional connectivity in women.  
                                                (In Press: Translational Psychiatry <a href="http://dx.doi.org/10.1101/068585" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x" area-hidden="true"></i> doi  </a>
                                    </li>  
                                    
                                    <li>
                                                Warrier, V.,* Bethlehem, R.A.I.* & Baron-Cohen, S. The ‘Reading the mind in the Eyes’ Test (RMET) (In press: Encyclopedia of Personality and Individual Differences, edited by Virgil Zeigler-Hill and Todd K. Shackelford).
                                    </li>
                                      
                                    <li>
                                                Huntenburg, J.M., Wagstyl, K., Steele, C.J., Funck, T., Bethlehem, R.A.I., Foubet, O., Larrat, B., Borrell, V., Bazin, P.L. (2017). Laminar Python: tools for cortical depth-resolved analysis of high-resolution brain imaging data in Python. Research Ideas and Outcomes 3: e12346
                                                <a href="https://doi.org/10.3897/rio.3.e12346" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x" ::before{
   background:transparent;
}></i> doi  </a>
                                    </li>
                                      
                                    <li>
                                                Bethlehem, R.A.I., Allison, C., Van Andel, E.M., Coles, A.I., Neil, K. & Baron-Cohen, S.; (2016). Does empathy predict altruism in the wild? Social Neuroscience
                                                <a href="http://doi.org/10.1080/17470919.2016.1249944" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x"></i> doi  </a>
                                    </li>
                                      
                                    <li>
                                                Auyeung, B., Lombardo, M.V., Heinrichs, M., Chakrabarti, B., Sule, A. Deakin, J., Bethlehem, R.A.I., Dickens, L., Mooney, N., Sipple, J.A.N., Thiemann, P. & Baron-Cohen. (2015). Oxytocin increases eye contact during a real-time, naturalistic social interaction in males with and without autism. Translational Psychiatry, e508
                                                <a href="http://doi.org/10.1038/tp.2014.14" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x"></i> doi  </a>
                                    </li>
                                      
                                    <li>
                                                Bethlehem, R.A.I., Baron-Cohen S, Auyeung, B., van Honk, J. & Bos P.A. (2014). The Oxytocin Paradox. Front. Beh. Neurosc. 8:48. 
                                                <a href="http://doi.org/10.3389/fnbeh.2014.00048" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x"></i> doi  </a>
                                    </li>
                                      
                                    <li>
                                                Van der Stighel, S. Bethlehem, R.A.I. (2014). The contribution of foveal activation to the oculomotor gap effect. Neuroscience Letters, 583, pp. 126-129
                                                <a href="http://doi.org/10.1016/j.neulet.2014.09.040" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x"></i> doi  </a>
                                    </li>
                                    
                                    <li>
                                                Bethlehem, R.A.I., Dumoulin, S.O., Dalmaijer, E.S., Smit, M., Berendschot, T.T.J.M., Nijboer, T.C.W. & Van der Stigchel, S. (2014). Decreased fixation stability of the preferred retinal location in juvenile macular degeneration. PLoS One.
                                                <a href="http://doi.org/10.1371/journal.pone.0100171" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x"></i> doi  </a>
                                    </li>
                                    
                                    <li>
                                                Bethlehem, R.A.I., van Honk, J., Auyeung, B. & Baron-Cohen S. (2013). Oxytocin, brain physiology, and functional connectivity: a review of intranasal oxytocin fMRI studies. Psychoneuroendocrinology, 38, 7, pp. 962-974
                                                <a href="http://doi.org/10.1016/j.psyneuen.2012.10.011" target="_blank" class="btn btn-light"> <i class="fa fa-external-link-square fa-fw-2x"></i> doi  </a>
                                                
                                    </li>

                      </ul>  
                        
                  </div>
</section>
